<table border="1">
    <tr><td>
        <button routerLink="/first" class="button">First</button><br/>
       
    </td>
      <td rowspan="2">
        <router-outlet></router-outlet>
      </td></tr>
    
      <tr>
        <td><button routerLink="/second" class="button">Second</button></td>
      </tr>
  </table>


